# Ignore build artifacts
target/
target-java25/

# Ignore Git directory
.git/

# Ignore CI/CD configs (not needed in container runtime)
.github/

# Ignore logs
*.log

# Ignore markdown documentation
*.md
# Ignore gitignore

.gitignore

# Ignore Dockerfile
Dockerfile

# Ignore Secrets
.env