# JWT Configuration
# You can generate JWT_SECRET by (Run in terminal): openssl rand -base64 32
JWT_SECRET=HmacLcBkDxhHJk5TBlgAoXqt2MnzxxYqqdcXbIQTzQQ=
# 24 Hours
JWT_EXPIRATION_MS=86400000
TEST_ADMIN_EMAIL=your_test_admin_email@gmail.com

# Environment Switch (dev / prod)
SPRING_PROFILES_ACTIVE=dev

# Application Logging Level (INFO for production, DEBUG for full AOP traces)
LOG_LEVEL=INFO

# Prod Database
DB_URL=jdbc:postgresql://your_aws_rds_endpoint.amazonaws.com:5432/sense_aws
DB_USERNAME=postgres
DB_PASSWORD=your_prod_db_password_here

# Google OAuth2
GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here

# Local Database
LOCAL_DB_URL=jdbc:mysql://localhost:3306/sensei_db
LOCAL_DB_USERNAME=root
LOCAL_DB_PASSWORD=your_local_db_password_here